$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;



$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-grey-light-3:#c5c1c1;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;


$color-white:#fff;
$color-black:#000;


/*font*/
$default-font-size:1.6rem;

/*grid
$grid-width:1140px;
$gutter-vertical:80px;
$gutter-horizontal:60px;*/

/*grid*/
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;

/*red*/
$color-red-dark-1:#7f262a;

/*blue*/
$color-blue-light:#4285f4;

/*yellow*/
$color-yellow-light:#f39939;
$color-yellow-light-1:#f8c895;
$color-yellow-light-2:#ffb900;

$color-yellow-dark:#e78319;
$color-yellow-dark-1:#c96a05;
$color-yellow-dark-2:#ff7730;

/*pink*/
$color-pink-light-1:#f3b2e3;
$color-pink-light-2:#f758cf;

$color-pink-dark-1:#700555;
$color-pink-dark-2:#a8027f;

/*purple*/
$color-purple-light-1:#ccaef7;
$color-purple-light-2:#b420fa;

$color-purple-dark-1:#5a08ca;
$color-purple-dark-2:#8545e2;

